.git
.gitignore
.gitattributes


.env
.env.example
.env.staging  
.env.*

/vendor
/node_modules

/storage/logs
/storage/framework/sessions
/storage/framework/cache
/storage/framework/views

.idea
.vscode
.DS_Store

