[mysqld]
# Memória "fixa" principal
innodb_buffer_pool_size = 256M
innodb_buffer_pool_instances = 1

# Redo log moderado (MySQL 8 usa redo_log_capacity)
innodb_redo_log_capacity = 128M

# Limitar concorrência / custo por conexão
max_connections       = 80
table_open_cache      = 256
thread_cache_size     = 16

# Buffers por conexão (baixos para não multiplicar demais)
sort_buffer_size      = 512K
join_buffer_size      = 512K
read_buffer_size      = 512K
read_rnd_buffer_size  = 512K
tmp_table_size        = 32M
max_heap_table_size   = 32M

# Misc
performance_schema = OFF    # economiza RAM
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 1
